body {

    background-color: black;

    font-family: helvetica, sans-serif;
}

.wrapper {
    background-color: #2C2F33;
    color: white;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 40px 40px;
    width: 600px;
    border-radius: 15px;
}

.content {
    display: inline-block;
    text-align: center;
}

h2.header-title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}
h2.header-title span:hover {
    font-style: italic;
}

p.descriptor {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 20px;
}

p.hero-text {
    font-size: 16px;
    line-height: 1.3em;
    margin-bottom: 30px;
}

span.links a {
    color: white;
}

#nnw {
    margin-top: 30px;
    margin-bottom: 15px;
    width: 80%;
    /* display in-line */
}

.avatar {
    position: relative;
    margin: 0 auto 35px;
    text-align: center;
    animation-duration: 0.7s;
    animation-fill-mode: both;
    animation-name: bounce;
    -webkit-animation-duration: 0.7s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: bounce;
}

.logo-avatar {
    box-shadow: 0px 0px 12px white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    max-width: 100%;
    width: 20%;
}
